<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in Page</title>
</head>

<body>
    <h1>Log In to my page, please</h1>
    <form action="/login" method="POST">
        <label>
            Username: <input type="text" name="username" placeholder="Enter Username...">
        </label>
        <label>
            Password:
            <input type="password" name="password" placeholder="Enter password...">
            <button type="submit">Log In</button>
        </label>
    </form>
</body>

</html>