<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2 id="username-heading"></h2>

    <h3>Thats your profile</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia soluta consequuntur aut, non impedit culpa sed
        voluptatibus voluptatum dolor sequi minus odit commodi architecto omnis. Facilis, eveniet consectetur! Corporis
        expedita eius, sequi assumenda maxime totam, qui provident culpa harum voluptatem consequuntur, illum dolor
        laboriosam. Eaque harum, dolore eius ab animi fuga, ea quibusdam minima deleniti, optio earum mollitia vero.
        Nostrum eius cum molestias explicabo suscipit ipsa, vitae sunt dolor in?</p>
    <a href="/">Home</a>
    <a href="/logout">Log Out</a>
    <script src="/js/app.js"></script>
</body>

</html>